version: "3.8"

services:
  portfolio:
    image: registry.freijstack.com/portfolio:latest-beta
    container_name: portfolio-staging
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=freijstack"
      - "traefik.http.routers.portfolio-staging.rule=Host(`portfolio-staging.freijstack.com`)"
      - "traefik.http.routers.portfolio-staging.entrypoints=websecure"
      - "traefik.http.routers.portfolio-staging.tls=true"
      - "traefik.http.services.portfolio-staging.loadbalancer.server.port=8080"
    networks:
      - freijstack
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://127.0.0.1:8080/"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

networks:
  freijstack:
    external: true
