name: CI/CD pour Freijstack.com

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Déployer la Landing Page
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Assurez-vous que le répertoire de destination existe
            mkdir -p ${{ secrets.DEPLOY_PATH_ROOT }}/landing
            # Supprimer les anciens fichiers pour éviter les résidus
            rm -rf ${{ secrets.DEPLOY_PATH_ROOT }}/landing/*
            # Copier les nouveaux fichiers
            scp -r ./landing/* ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:${{ secrets.DEPLOY_PATH_ROOT }}/landing

      - name: Déployer le Portfolio
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            mkdir -p ${{ secrets.DEPLOY_PATH_ROOT }}/portfolio
            rm -rf ${{ secrets.DEPLOY_PATH_ROOT }}/portfolio/*
            scp -r ./portfolio/public/* ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:${{ secrets.DEPLOY_PATH_ROOT }}/portfolio

      - name: Déployer le Blog
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            mkdir -p ${{ secrets.DEPLOY_PATH_ROOT }}/blog
            rm -rf ${{ secrets.DEPLOY_PATH_ROOT }}/blog/*
            scp -r ./blog/* ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:${{ secrets.DEPLOY_PATH_ROOT }}/blog

      # Les applications SaaS nécessiteront probablement des étapes de build Docker et un déploiement plus complexe.
      # Ces étapes seront ajoutées ultérieurement ou dans des workflows dédiés pour chaque application SaaS.

